S3method(ci.mean,default)
S3method(print,univariateTable)
S3method(publish,BaselineTable)
S3method(publish,CauseSpecificCox)
S3method(publish,FGR)
S3method(publish,anova)
S3method(publish,ci.prop)
S3method(publish,compRisk)
S3method(publish,cox.aalen)
S3method(publish,coxph)
S3method(publish,data.frame)
S3method(publish,default)
S3method(publish,geeglm)
S3method(publish,glm)
S3method(publish,htest)
S3method(publish,list)
S3method(publish,lm)
S3method(publish,lme)
S3method(publish,lrm)
S3method(publish,matrix)
S3method(publish,pec)
S3method(publish,prodlim)
S3method(publish,summary.aov)
S3method(publish,summary.prodlim)
S3method(publish,survdiff)
S3method(publish,table)
S3method(publish,univariateTable)
S3method(summary,univariateTable)
export(ci.mean)
export(coxphSeries)
export(glmSeries)
export(labelUnits)
export(lazyFactorCoding)
export(org)
export(publish)
export(table2x2)
export(univariateTable)
